
#navbar-pinterest{
    top: 0;
    position: sticky;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px 10px 10px 10px;
    /* align-items: flex-end; */
    

    
}
#icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: flex-end;
    margin-right: 0px;
    width: 100px;
    padding: 20px;

    
}
.card-image:hover{
    border: 5px solid black;
    background-color: transparent;
}
.cajainterna{
    height: 100px; 
    align-items: center; 
    box-sizing:border-box; 
    display: flex;
    width: 100%;position: relative;padding-right: 10px;
}
.card-image {
    /* Esto fue para que mi div se acomodara al tamaño de su contenido, hasta este punto era la imagen*/
    display: inline-block;
}
.alig{
    justify-content: flex-end;
}
.line{
    display: flex;
    border: red solid;
    padding:4px 16px 4px 16px;
    /* justify-content: space-between; */
}
#profile-img{
    border-radius: 50px;
    border-style: hidden;
    padding: 20px;
}