* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#navbar-pinterest {
    top: 0;
    position: sticky;
    background-color: white;
    z-index: 8;
}
#pinterest-icon{
    height: 33px;
}
#icons {
    display: flex;
    position: relative;
    left: 6%;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    color: #80808030;
}
.notifications:hover{
    background-color: blanchedalmond;
    border-radius: 50px 50px;
}
.notifications{
    position: relative;
    padding: 10px;
}


.cajainterna {
    height: 56px;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    padding-right: 10px;
    margin: 10px;
}
.card-image {
    display: inline-block;
}

.line {
    display: flex;
    padding: 4px 16px 4px 16px;
}

#profile-img {
    border-radius: 50px;
    border-style: hidden;
    padding: 20px;
    height: 37px;
}

.finder {
    height: 56px;
    width: 50rem;
    margin-left: 3px;
    border: none;
    background-color: transparent;
    border-radius: 8px 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 6px;
    font-size: 24px;
}

#links {
    display: inline-flex;
    margin-right: 10px;
    width: 32%;
    align-items: center;
    justify-content: space-evenly;
}

.buscador {
    display: inline-flex;
    align-items: center;
    position: relative;
    border:#80808030;
    background-color: #80808030;
    border-radius: 25px 25px 25px 25px;
    padding-left: 3%;
}
.bl{
    display: block;
}
.boton {
    background-color: white;
    color: black;
    border: none;
    padding: 11px 10px;
    font-size: 22px;
    transition: background-color 0.3s ease;
    border-radius: 25px;
}

.boton:hover {
    background-color: #80808030;;
    color: #000000;
}
.boton:active{
    background-color: black;
    color: white;
}
/* button:checked{ */
    /* background-color: rgb(38, 146, 146);
    color: rgb(68, 0, 255); */
/* } */

.notifications:hover {
    background-color: #80808030;;
    color: #000000;}
#content{

display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
flex-wrap: wrap;
}
.prueba{
    position: absolute;
    z-index: 0;
}
video{
object-fit: contain;
overflow-clip-margin: content-box;
overflow: clip;
}
.card-image{
    display: inline-block;
    width: 236px;
    height: auto;
    margin: 10px;
    z-index: 1;
}
.card-image:hover{
    height: fit-content;
    z-index: 2;
    filter: brightness(50%);
    /* border 1px solid white; */
    }
.card-image:hover .prueba{
    position: absolute;
    z-index: 5;
}
img{
    border-radius: 20px;
}
.boton2{
    background-color: red;
    color: white;
    border: none;
    padding: 11px 10px;
    font-size: 22px;
    transition: background-color 0.3s ease;
    border-radius: 25px;
    z-index: 0;
}